<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Foot Looser</title>
</head>

<body>
  <nav class="navbar container">
    <!-- Logo + Tittle -->
    <div class="logo">
      <img src="assets/logos/logo-white.png" alt="Logo" width="200">
      <h1>Foot Looser</h1>
    </div>
    <div class="upper">
      <a href="#"><img src="assets/others/lenguaje-spanish.png" alt="Spanish" width="20">Español</a>
      <a href="#">Encontrar una tienda</a>
      <a href="./login.html"><img src="assets/icons/avatar.png" alt="avatar" width="20">Iniciar sesión</a>
    </div>
  </nav>
  <main>
    <div class="basket-icon">
      <a href="#" class="basket-link">
        <img src="assets/icons/shoping-cart.png" alt="Cistella" width="30">
        <span class="basket-count">3</span>
      </a>
    </div>
    
    <div class="products">
      <a href="./shoe.html">Zapatillas</a>
    </div>
    <div class="banner"></div>
    <div class="brands">
      <a href="#"><img src="./assets/logos/newbalancce.webp" alt=""></a>
      <a href="#"><img src="./assets/logos/adidas.webp" alt=""></a>
      <a href="#"><img src="./assets/logos/nike.webp" alt=""></a>
      <a href="#"><img src="./assets/logos/converse.webp" alt=""></a>
      <a href="#"><img src="./assets/logos/asics.webp" alt=""></a>
      <a href="#"><img src="./assets/logos/Other-brands.webp" alt=""></a>
    </div>
    <div class="retail"></div>
  </main>


  <section class="terms-section">
    <div class="container">
      <h2>Términos y Condiciones</h2>
      <p>Lee nuestros términos y condiciones antes de realizar cualquier compra. Asegúrate de comprender las políticas de devolución y otras informaciones relevantes.</p>
    </div>
  </section>

  <section class="contact-section">
    <div class="container">
      <h2>Contacto</h2>
      <p>Para consultas, contáctanos a través del correo electrónico <a href="mailto:info@footlooser.com">info@footlooser.com</a>.</p>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="./assets/logos/logo-white.png" alt="Logo del pie de página" width="100">
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">© 2023 Footlooserdotcom, Inc. Todos los derechos reservados</p>
    </div>
  </footer>
</body>
 
</html>